[2017-11-28 18:28] W357 opened #1 "Feedback (EventID, Configuration)"
Hi Mani.
First of all, thanks for this project. Good Job! After a while playing with this I have some feedback:
1) Handling of EventIDs. e.g.  _logging.LogDebug(eventId: 1, message: "Debug") will throw an exception in GoogleCloudLoggingSink.cs line 65.
2) Took me a while to figure out thats its not possible to create custom log ressources. Using the default (global) now. Maybe worth to mention in

[2017-11-28 20:22] #1 closed

[2017-11-28 20:36] manigandham commented on #1
Hey @W357, thanks for reporting.

It looks like the built-in .NET Core logger abstraction uses child properties so `eventId` is written as `{ Id: 1 }` which was unhandled. This has been fixed and will be logged with the parent key prepended so the label should read: `EventId.Id: 1` in GCP logs.

Updated the documentation. Will look into the appconfig.json support in a separate issue.

Nuget should

[2017-11-28 20:38] manigandham opened #2 "Support .NET Core Configuration API (appconfig.json)"
From #1: It would be great to add support to setting up the sink in the appconfig.json using Serilog.Settings.Configuration

[2017-11-29 08:11] W357 opened #3 ".NET Core logname beeing overwritten by "SourceContext""
Logname of a log entry can be passed to the constructor of GoogleCloudLoggingSinkOptions, but is always overwritten by the "SourceContext" namespace:

[code]

[2017-11-29 19:31] manigandham commented on #3
The `SourceContext` comes from Serilog or whatever logging abstraction you're using when you create a new logger with a specific context, so it's meant to overwrite the log name.

Can probably make a separate option to override...

[2017-11-30 01:26] #3 closed

[2017-11-30 01:35] manigandham commented on #3
https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/1.2.0

[2017-11-30 06:47] W357 commented on #3
Hey Mani.

Thank you. I think it makes sense to override. Having one log (instead of
having one for each namespace) makes it easier (at least for me) to read
the log.

2017-11-30 2:35 GMT+01:00 Mani Gandham <notifications@github.com>:

[2017-11-30 06:48] W357 commented on #1
Cool. Appreciate the update!

[2017-12-06 14:48] jimmystridh opened #4 "Default True on UseSourceContextAsLogName"
Is this actually a reasonable default ?

serilog for asp.net core for example uses class names including namespaces as source contexts, so it will have values like Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker, which is a disallowed log name and will throw a
`Grpc.Core.RpcException: Status(StatusCode=InvalidArgument, Detail="Log name contains illegal character  ")` and will likely conf

[2017-12-06 14:58] manigandham commented on #4
Is that the error you're getting? What character is disallowed? If it's the dot then I haven't run into that issue (see screenshot) but there might be something else in the grpc layer for the logging client.

![image](https://user-images.githubusercontent.com/457226/33667681-5acfde18-da52-11e7-8581-e385dd98de99.png)

[2017-12-06 15:01] manigandham commented on #4
From the API docs: https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry

[2017-12-06 15:27] jimmystridh commented on #4
Ah, after looking deeper I found it's throwing for "Logger Factory" in the example code in https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/src/TestWeb/HomeController.cs#L22

[2017-12-07 09:21] manigandham commented on #4
Got it, thanks for reporting that. I added some placeholder text but didn't realize it was broken by default. Will update and add some comments.

[2017-12-07 09:28] manigandham commented on #4
Fixed in https://github.com/manigandham/serilog-sinks-googlecloudlogging/commit/0b9b2841f91891e710281a004a7b17e31940ba9e

[2017-12-07 09:28] #4 closed

[2017-12-07 12:27] jimmystridh commented on #4
Looks good, thanks!

[2018-05-17 21:45] plaisted opened #6 "Payload data losing types by sending as "labels""
The cloud logging setup only allows labels to be sent as key value pairs of type "string". By putting all of the Serilog object properties as labels, they lose all their type information and are not able to be queried in many cases.

For example a simple serilog log like:
[code]
the count property would be attached as a label like:
[code]

Queries then could not be ran on these values using greate

[2018-05-19 07:14] #6 closed

[2018-05-19 14:12] plaisted commented on #6
Awesome, I'll start experimenting with it.  tyvm.

[2018-06-04 12:15] imperugo commented on #2
Any roadmap for this feature?

[2018-06-04 13:32] manigandham commented on #2
Unfortunately not, I don't use the built-in configuration support so haven't looked at this yet...

[2018-08-17 00:06] jameskimsca opened #8 "Stackdriver Resource Labels"
Hi,

So I've implemented the log as in the test project and hosted it on GCloud and it's logging fine except it's not populating the resource labels when I log an error.

It populates the labels when I log to the Console but not when I use Serilog to add an entry.

Do you know if this is a known issue with Serilog or is there something I'm not doing right?

I am using the latest version of Serilog

[2018-08-17 02:29] manigandham commented on #8
What do you mean by resource labels?

[2018-08-17 02:32] jameskimsca commented on #8
@manigandham here is a sample log:

 {
 insertId: "1fw4h35fnrpc7p"
 jsonPayload: {
  message: "===> 2018-08-16 07:08:24.666 +00:00 [Error] (Thread Id: 7) (CapturedObject: DummyObjectModel { Name: "test", LoggedTime: 08/16/2018 07:08:24, Related: SubDummyObjectModel { Name: "related dummy" }, Arguments: [1234, "test", SubDummyObjectModel { Name: "embedded dummy" }, 76dc6dc3-6ea1-45d4-b3b3-0c27c5e9e

[2018-08-17 03:54] manigandham commented on #8
@jameskimsca

Got it. Here's the documentation on that: https://cloud.google.com/logging/docs/logs-based-metrics/labels#default_labels

If you're writing to the console while running on a GCE VM or GKE Container, then the StackDriver logging agents running on the server will capture that output and forward to the logging API, while automatically capturing source info like the Kubernetes labels you

[2018-08-20 05:01] jameskimsca commented on #8
@manigandham Right. Would you know how to retrieve the resource labels via the Google API?

[2018-08-22 20:08] manigandham commented on #8
@jameskimsca are you all set here?

[2018-08-22 23:46] jameskimsca commented on #8
@manigandham Yes thank you I'll close the issue.

[2018-08-23 02:11] jameskimsca commented on #8
@manigandham I've created a PR to enable users to specify the mappings.

[2018-08-24 13:47] josh-sachs commented on #2
It is funny, I've been scratching my head for the past day trying to understand why the settings I've provided in appconfig aren't working.... If this isn't going to be supported it should be clearly documented in the README.

[2018-08-24 16:29] manigandham commented on #2
It just hasn't been done, but PRs are welcome

[2018-09-10 04:14] jameskimsca commented on #8
Re-opening issue for pull request

[2018-09-10 17:39] manigandham commented on #8
Added `ResourceLabels` as a config option in https://github.com/manigandham/serilog-sinks-googlecloudlogging/commit/ccb61f468d73b5906e1b2e98de7d29cd81d82da2

[2018-09-10 17:49] manigandham commented on #8
https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/1.4.7

Version 1.4.7 has been published. `ResourceLabels` is just another Dictionary<string, string>so you can pass in whatever you need to without coupling it to environment variables.

Let me know if that works for you.

[2018-09-11 03:05] jameskimsca commented on #8
Hi @manigandham ,

I've checked out and have tested the code and it seems like it doesn't add new labels.
I have already left a comment in the commit but to add a new label we need to call _resource.Labels.Add method, the indexer only seems to update existing values.

[2018-09-11 03:41] manigandham commented on #8
That's strange since it's the protobuf library class, in which the `Add` method just uses the indexer anyway:

https://github.com/protocolbuffers/protobuf/blob/master/csharp/src/Google.Protobuf/Collections/MapField.cs#L123

I'll test again

[2018-09-11 03:59] manigandham commented on #8
@jameskimsca

The labels are being sent to the logging API so the issue is most likely your config. What resource type did you pick? The labels are tied to the resource type, and the default `global` type does not accept any: https://cloud.google.com/logging/docs/api/v2/resource-list

[2018-09-11 05:05] jameskimsca commented on #8
@manigandham we're using gke_container and it works when I use the code in my PR

[2018-09-11 05:53] manigandham commented on #8
Do you mean `container` ? There is no `gke_container` listed on that page.

[2018-09-11 05:55] manigandham commented on #8
Updating the sample to this works:

[code]

![image](https://user-images.githubusercontent.com/457226/45340714-8b0fa380-b54c-11e8-8a53-d0edd214ff99.png)

[2018-09-11 05:59] jameskimsca commented on #8
@manigandham it's listed here: [](https://cloud.google.com/monitoring/api/resources)
yes so it seems like the indexer isn't working as it's supposed to, hence, i had to add the if/else to call the add method

[2018-09-11 06:13] manigandham commented on #8
That is a different API:

The indexer is not the issue because that's the only code path that assigns the variable, as you can see from the protobuf source code. You can also add a debug statement and see that labels being sent in the [WriteLogEntriesAsync](https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/src/Serilog.Sinks.GoogleCloudLogging/GoogleCloudLoggingSink.cs#L78

[2018-09-11 06:41] jameskimsca commented on #8
@manigandham ah yes just realized to get the kubernetes instance, needed to get the information from environment variables

[code]

[2018-09-11 23:50] manigandham commented on #8
Great, I'm going to consider this closed then.

[2018-09-11 23:50] #8 closed

[2018-10-04 08:35] AllanMcKay commented on #2
I have raised a PR here to fix this:
https://github.com/manigandham/serilog-sinks-googlecloudlogging/pull/10

[2018-11-19 21:54] slolife opened #11 "EmitBatchAsync() fails to write log messages"
EmitBatchAsync() call fails to write anything when `await _client.WriteLogEntriesAsync(_logNameToWrite, _resource, _sinkOptions.Labels, logEntries);` is called.  What is the best way to debug what is happening?

[2018-11-20 18:09] slolife commented on #11
I don't know what is working, but I have checked that the service account has "Logs Writer" permission and that the project ID is correct.  I'll try the test project and report back.

[2018-11-27 20:18] manigandham commented on #11
@slolife Did you get this figured out?

[2018-11-27 22:14] slolife commented on #11
No, but I think it is going to be a misconfiguration on my part.  We can close this and I'll open a new one if/when I get more real data and information to present. Thank you

[2018-11-27 22:14] #11 closed

[2019-01-09 16:06] yosigolan opened #12 "Log name stays source context even when UseSourceContextAsLogName is set to false"
Hey.
when i set a log name like "BasicService" and set UseSourceContextAsLogName to false the log name stays the source context. more over in the github project read me you write: "When using default options, logs will appear under these filter settings:" and then show log name default. but the default value of UseSourceContextAsLogName is true so it dont seems right.

Thanks

[2019-01-09 16:08] yosigolan opened #13 "Question: is it possible to log under the resource of app engine and under my specific version id?"
i dont find any documentation on how to log into different resources other than global.
is it possible to log into existing resource other than global?

[2019-01-09 16:40] manigandham commented on #13
The readme links to this page: https://cloud.google.com/logging/docs/api/v2/resource-list

You can select the resource type name you need from that table. `gae_app` seems to be what you're looking for if you want it under App Engine. You'll need to add the appropriate labels as well to your logs for module and version.

[2019-01-09 16:53] manigandham commented on #12
I've updated the readme, and ran the test project which shows the settings working fine.

Can you run the TestWeb project on your end and see if it works correctly?

[2019-01-10 08:10] yosigolan commented on #12
Thank you for the reply.
i will try it and update.

[2019-01-10 08:19] yosigolan commented on #12
i dont understand, the testweb project does not use the appsettings configuration and in the code it does not set the UseSourceContextAsLogName to false. meaning it will write the log name as source context. what am i missing?

[2019-01-10 08:34] manigandham commented on #13
You can create the logging config programmatically when your app starts and set the details there. How you do that is up to you, I don't use GAE but there's probably a way for the app to read it's current service and version details.

[2019-01-10 08:38] manigandham commented on #12
Ah, the appsettings.json only supports `projectId` and `useJsonOutput` as it was a contributed change: https://github.com/manigandham/serilog-sinks-googlecloudlogging/pull/10

I'll make that clear in the readme too. Meanwhile I suggest creating the config in your code instead so you can use all the settings, or another pull request to handle all the settings would be appreciated.

[2019-01-10 08:55] yosigolan commented on #12
i just saw this in the docs: "This only supports projectId and useJsonOutput settings."
does this means that i cant use the file config if i want to change the log name (i cant mix configurations right?)

[2019-01-10 09:15] manigandham commented on #12
It won't work from appsettings.json.

[2019-01-10 09:50] yosigolan commented on #12
i understand. got it to work from code.
thanks

[2019-01-10 09:51] #12 closed

[2019-01-10 13:07] yosigolan commented on #13
you are right.
i managed to use the following environment variables:
`
  string serviceId = enviormentVariablesConfig["GAE_SERVICE"];
  string versionId = enviormentVariablesConfig["GAE_VERSION"];
`
works like charm.

Thanks

[2019-01-10 13:08] #13 closed

[2019-01-13 15:37] yosigolan opened #14 "Exception is not part of the log"
Hey.
when i log exceptions using serilog syntax i cant find them in the log attributes (in google viewer). do i need to add some label for them to appear?

Thanks Yosi

[2019-01-13 17:56] manigandham commented on #14
I don't know. Properties attached to the logs show up so you'll have to debug it and see what's being sent. Exceptions aren't automatically handled by Serilog, you should add a helper like this to copy all the details: https://github.com/RehanSaeed/Serilog.Exceptions

[2019-01-13 17:56] #14 closed

[2019-01-21 09:49] yosigolan commented on #14
Thanks, that solved it.

Yosi

[2019-02-07 00:23] plaisted opened #15 "JsonOutput handling of c# types"
The way the JsonOutput currently formats Serilog scalar values is to attempt to parse the scalar string representation into a double:

[code]

This leads to some undesirable side effects (eg. "000000" being added as number 0). Is there a reason not to check the c# type of the `scalarValue.Value`? For known number types (eg decimal, int) it would be sent as a number, but if the type is a string it

[2019-02-07 00:53] manigandham commented on #15
You're right, should have type checks there instead of converting. Will update later.

[2019-02-07 01:58] manigandham commented on #15
Fixed by https://github.com/manigandham/serilog-sinks-googlecloudlogging/commit/f0b176b9ca9d1fef870e4a8f9dd87cadbef9162d

Check v1.6.0

[code]

[2019-02-07 01:58] #15 closed

[2019-02-07 15:44] plaisted commented on #15
Thanks for the quick turn around!

[2019-02-08 04:41] manigandham commented on #12
All the options can be set via `appsettings.json` now with version 1.7.0: https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/CHANGELOG.md

[2019-05-15 01:27] kooboo-binbin commented on #14
When I use Serilog Console, I can see the exception title.
 but I can't see any exception information in google viewer

[2019-05-15 02:02] manigandham commented on #14
@kooboo-binbin Can you create a new issue and explain how youre logging the exception and what page in the GCP console you're viewing?

[2019-05-15 02:10] kooboo-binbin commented on #14
@manigandham I just check the code I find I did not config errorReportingServiceName

[2019-05-15 02:54] manigandham commented on #14
@kooboo-binbin Can you make a new issue please?

[2019-05-21 03:36] kooboo-binbin opened #19 "When Log level is critical, the exception is not added to json fileds."
GoogleCloudLoggingSink.cs  line67 :if (_errorReportingEnabled && entry.Severity == LogSeverity.Error && e.Exception != null)

[2019-05-21 09:38] manigandham commented on #19
Fixed in https://github.com/manigandham/serilog-sinks-googlecloudlogging/commit/c2d3ea196052b492e36bdd3652ef78ad1a260d32

[2019-05-22 01:24] parondeau opened #20 "Map Serilog Verbose Level to Stackdriver Trace Level"
I am logging some logs via Serilog and using this `GoogleCloudLogging` Sink. I noticed logs to Serilog's `verbose` Level were coming up in Stackdriver as `Debug`. I dug through the code a bit and found [this line](https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/src/Serilog.Sinks.GoogleCloudLogging/GoogleCloudLoggingSink.cs#L251). Seems like a quick fix to map Serilog's

[2019-05-22 01:30] parondeau commented on #20
Did a bit more digging, looks like `Google.Cloud.Logging.Type.LogSeverity` is the real reason we can't log to `trace`. Going to close this issue as there's not much you can do unless they provide that level.

[2019-05-22 01:33] #20 closed

[2019-05-22 01:34] kooboo-binbin commented on #19
@manigandham  thanks. when will the new code be published to Nuget?

[2019-05-24 01:16] #19 closed

[2019-05-24 07:10] manigandham commented on #19
Sorry about the delay, the latest 2.0.0 is released: https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/2.0.0

[2019-05-30 11:14] nbelley opened #21 "Example not working"
If I use as is the provided sample on the project site, it's not working in Xamarin, ReadFrom seems to be a readonly property:

https://i.imgur.com/hdmhwPV.png

[2019-05-30 14:07] nbelley commented on #21
This was fixed using Serilog.COnfiguration nuget package.

But, it seems pretty hard to make this work on Xamarin android. Is it possible?

[2019-05-30 17:03] manigandham commented on #21
Are you saying it works then?

I don't use Xamarin so I don't know about that. You can always use the programmatic configuration though, and read the settings from `IConfiguration` yourself.

[2019-05-30 17:47] nbelley commented on #21
ReadFrom is working, but I had to add another nuget package for it to work. But, getting the logger to work is not an easy task. Now it compiles, I can load the json config into a string and configure manually the sink, no more exceptions everyone seems happy, but nothing gets uploaded to stackdriver.

[2019-05-30 18:42] manigandham commented on #21
Download this repo source code and run the TestWeb project to make sure your GCP account is setup correctly and can see the logs. Then try hardcoding the config in your app and running it that way.

[2019-05-30 19:39] nbelley commented on #21
The logging is working from our regular apps, we are trying for the first time on our android app. I will try to use the Google.Cloud.Logging.V2 with Android to see if it works.

[2019-07-15 16:02] steveoh opened #22 "Method of transferring app to server causes error in grpc_csharp_ext.x64.dll"
### Describe the bug

I am using npm, grunt, and dotnet to built and deploy a `dotnet new react` project on osx. When this pipeline runs, the project fails to start with a 502.5 error. If I go to the server and execute `dotnet app.dll` I get a strange error.

#### Stack trace

[code]

#### Somewhat related issues?

https://github.com/grpc/grpc/issues/11914
https://github.com/grpc/grpc/issues/12570

[2019-07-15 16:05] manigandham commented on #21
@nbelley
Did you get this figured out?

[2019-07-15 16:11] manigandham commented on #22
@steveoh

This library uses the official [Google Cloud SDK libraries for .NET](https://github.com/googleapis/google-cloud-dotnet) and most of these APIs communicate over [GRPC](https://grpc.io/).

That RPC/communication is handled by a native library which means it has to be compatible with the underlying OS platform. The first line in your stack trace shows that it's trying to load the 64-bit Win

[2019-07-15 16:20] steveoh commented on #22
@manigandham I am publishing/building from osx to windows.

`ASPNETCORE_ENVIRONMENT=Staging dotnet publish ../app.csproj -c Release`

https://github.com/agrc/parole-and-probation/blob/master/src/ClientApp/package.json#L38-L40 is the build script.

[2019-07-15 16:26] manigandham commented on #22
Just saw that, can you run the build and check in the publish directory for a folder called `runtimes`? Is there a `osx` folder in there?

[2019-07-15 16:28] steveoh commented on #22
The dll is present.

![image](https://user-images.githubusercontent.com/325813/61232349-55e35d00-a6eb-11e9-8406-b1d77c092cd6.png)

[2019-07-15 16:40] manigandham commented on #22
Ah ok, in that case it's probably on the server side. I'm assuming this is running in IIS then if you're using `app_offline.htm`? The files are probably locked by IIS when the app is starting.

[2019-07-15 16:43] steveoh commented on #22
Interesting idea. Is that a common issue with known solutions?

[2019-07-15 16:53] manigandham commented on #22
Yes [its common](https://www.google.com/search?q=iis+dll+files+locked). The official solution for deploying to IIS is to use WebDeploy but that doesn't run on OSX. You might have to use some scripting and stop the entire app pool or server before overwriting the files, then restart after.

[2019-07-15 16:56] steveoh commented on #22
I was under the impressions that app_offline stops the app pool.

[2019-07-15 18:31] steveoh commented on #22
I do not believe this is an issue, the app doesn't start so no lock is created by iis. And if I copy the **same** files via RDP, the issue is not present.

[2019-07-15 21:30] #21 closed

[2019-07-17 01:48] manigandham commented on #22
Did you get this figured out?

[2019-07-17 01:49] steveoh commented on #22
unfortunately nope.

[2019-07-22 19:27] manigandham commented on #22
Closing now since this isn't related to this library.

[2019-07-22 19:27] #22 closed

[2019-07-28 07:38] rockstardev commented on #8
@jameskimsca can you share how you've configured Kubernetes to pass environment variables to include everything (cluster_name, container_name, location, namespace_name, pod_name, project_id, ln-zap-212820)?

[2019-07-28 08:35] manigandham commented on #8
Hey @rockstardev,

Check this previous comment in this thread: https://github.com/manigandham/serilog-sinks-googlecloudlogging/issues/8#issuecomment-414200581

[2019-08-01 14:07] rockstardev commented on #8
Yeah, I've read through those links, but was hoping for concrete example because Downward API doesn't expose a lot of variables. Well, I guess it's up to fetching GCE Metadata... thanks for your response.

[2019-08-22 13:01] baronfel opened #23 "[Suggestion] Add the log message format as a property so that entire classes of message can be filtered out"
One thing that Logary's StackDriver integration did that I had some workflows around was writing the original message format before formatting to the log entry in a well-known field. For example `OriginalFormat` or `template`. This allowed for filtering in/out based on the format, which is a nice way to filter out entire classes of log messages from your view, at the cost of inflating the size of

[2019-08-22 16:21] manigandham commented on #23
Sure, send PR and we can add it in.

[2019-08-22 16:35] baronfel commented on #23
Cool, I'll do just that. What's your opinion on what the new log property field should be called?  A few options I've been bouncing around:

* OriginalFormat - this is nice because it's in line with what the format value is called in the Asp.Net Core Logging wrapper
* MessageTemplate - this is more in line with Serilog's internal representation of the data

[2019-08-22 17:03] manigandham commented on #23
I recommend using a string property and checking for null. That leaves it up to the user to pick whatever they choose. This is how the `ServiceName` property is currently configured.

[2019-08-22 17:06] baronfel commented on #23
The downside with that approach is the potential duplication of data in that case, given that the Microsoft.Extensions.Logging infrastructure will always provide the OriginalFormat property.

[2019-08-22 17:12] manigandham commented on #23
Got it, Seems like that would be the most common scenario anyway so this works. I'll merge soon.

[2019-09-16 05:56] #23 closed

[2019-12-20 17:14] bradsharp54 opened #27 "Warning type not in log"
I've got to be doing something wrong, but I have logging setup exactly.  The program is running on a VM and I see logs being written.

To test it, I put

 _logger.LogWarning("warning {test}","dfd");

 in my code. when going to the logs, I see the entry, but I do not see that it is a warning, seems to be saved as any.
This is my appsettings entry:

 "Serilog": {
    "Using": [ "Serilog.Sinks.Google

[2020-01-10 10:28] draganjovanovic1 opened #28 "Missing log entries"
Hello,

I've configured the sink and I can see my log entries in the GCP Console. However, very large number of my logs are not there.

Here is an example of my console log output:

[code]

and my GCP Logs viewer:

![image](https://user-images.githubusercontent.com/4232435/72145862-a803f300-339b-11ea-975e-64de478750ce.png)

You can see that only the first entry is there and nothing more. I have tr

[2020-01-10 20:20] manigandham commented on #27
Hi @bradsharp54

Did you get this solved? Are you saying the logs are being recorded in Stackdriver but dont match the log level that you're using?

[2020-01-10 20:22] manigandham commented on #28
Are you looking at the correct project in the console? Is there any log filter or exclusion setup in stackdriver?

Try the test project in this repo and see if that works.

[2020-01-10 22:00] draganjovanovic1 commented on #28
It's the one and only project I have made in this GCP account, no exclusions made in stackdriver. What bothers me is that I run service, see one item logged both in console and GCP log viewer and all new items are logged in the console output only, nothing in the GCP. I would assume it should be all or none, not one and then nothing. You can see both outputs in the original post (console output an

[2020-01-12 04:09] manigandham commented on #28
This library has SourceLink enabled. You can debug the logging code in Visual Studio.

https://www.hanselman.com/blog/ExploringNETCoresSourceLinkSteppingIntoTheSourceCodeOfNuGetPackagesYouDontOwn.aspx

[2020-01-13 21:32] draganjovanovic1 commented on #28
@manigandham I spent quite a while time with this for now.

I have tried the test project and modified both my project and the test project to bootstrap logging with exactly the same values, service account, etc. Double checked, it's 100% the same. Test project logs all entries all the time, mine is not. Mine logs 4 entries on startup and then nothing more ☹️ No output in Serilog internal log, not

[2020-01-13 22:42] manigandham commented on #28
This library is only a few files so copy them into your project and remove the nuget reference. it should still build and run and then you can debug directly.

[2020-01-14 10:19] draganjovanovic1 commented on #28
Hi,

I have found what the issue is:
[code]

I solved it by setting `UseSourceContextAsLogName=false` but I would assume that the library needs a fix.

Interesting is that I have logged the `_logNameToWrite` value in the `EmitBatchAsync` just before `_client.WriteLogEntriesAsync` and it was `projects/sustained-works-252716/logs/Default` the same as when it initially worked (first 4 entries).

[2020-01-14 15:56] draganjovanovic1 commented on #28
One more thing. The `UseSourceContextAsLogName=false` hack worked only if I use library as a ProjectReference. When I revert to NuGet package it does not work. Unfortunately I can't debug it as a package.

[2020-01-15 19:04] manigandham commented on #28
The log name has rules on allowed characters and url encoding. Try the latest version 2.3.0 which handles the formatting automatically:

https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/2.3.0

[2020-01-18 00:11] manigandham commented on #27
I'm going to close this now since there's no reply. Feel free to re-open if you need help.

[2020-01-18 00:11] #27 closed

[2020-01-22 08:34] manigandham commented on #28
Did the latest version resolve this?

[2020-01-22 08:48] draganjovanovic1 commented on #28
Sorry, totally missed it. Will try and post the results.

[2020-01-23 14:04] Jeremiad commented on #28
Hi,
I'm also facing the same issue and update to 2.3.0 didn't help.

[2020-01-23 17:05] draganjovanovic1 commented on #28
Thanks @Jeremiad for reporting. I am in complete mess these days and can't manage to test it.

[2020-01-25 22:39] manigandham commented on #28
Hey everyone - I'm unsure what I can do here to help since I've been unable to reproduce any issues.
Here are some options:

- This library uses Serilog's `BatchingSink` to asynchronously flush logs in the background. Is your project running for at least a few minutes? Are you calling `Log.CloseAndFlush();` at the end of your app lifecycle to ensure logs are sent?

- Download this code and run the

[2020-01-26 22:36] draganjovanovic1 commented on #28
@manigandham I already migrated my services to App Engine so I get stdout logged in StackDriver for free. I stopped using the lib since I don't need it anymore. However, it used to work with `UseSourceContextAsLogName=false`.  The problem is probably with cumbersome fully qualified class names in .NET, especially generics, and if you leave Serilog to make context name it is not good for Google Clo

[2020-01-27 07:39] manigandham commented on #28
@draganjovanovic1

That should be fixed with ver 2.3.0. From my testing, even class names with generic will log fine as seen below:

[code]
![image](https://user-images.githubusercontent.com/457226/73157132-fcde8380-4094-11ea-9ac4-72f3ff663544.png)

If anyone else has anything to add then I can look at this some more.

[2020-01-27 08:23] draganjovanovic1 commented on #28
@manigandham I will test again with my project in a few days. I am currently not in the position to do that. I will post my findings and if it works I'll close the issue.

[2020-01-27 08:42] Jeremiad commented on #28
For me it helped that i added Log.CloseAndFlush() on the code. For some reason i forgot to add it before.

[2020-01-29 16:17] baronfel commented on #28
@manigandham one thing to check is that F# type names tend to have + (for classes in modules) and @ (for closures) sigils in them, so any escaping you do needs to take that into account. Those are all valid type name characters via the CIL spec, etc, etc.

[2020-02-03 10:11] StasPerekrestov opened #30 "Memory traffic in Formatter"
Hello,
I've been profiling an application I'm working on and found out that
LogFormatter causes some significant memory pressure.

![image](https://user-images.githubusercontent.com/838093/73644509-33f8fa00-467e-11ea-9036-604021add67f.png)

![image](https://user-images.githubusercontent.com/838093/73644417-07dd7900-467e-11ea-9e34-2fff8e7caf68.png)

If you don't mind I'm going to create a PR with s

[2020-02-03 17:04] manigandham commented on #30
Hi @StasPerekrestov

Thanks for the contribution. I've updated the code further to reuse the `StringWriter` throughout the entire batch down to the log template rendering. This should eliminate many of the string allocations and improve performance. Can you test out the latest commit to see if it works for you? I'll release a new version afterwards.

[2020-02-03 17:34] StasPerekrestov commented on #30
Thank you @manigandham
Going to test your changes the next morning. :)

[2020-02-04 11:14] StasPerekrestov commented on #30
Ok, some results. I haven't created an appropriate benchmark yet, but what I can see so far:
If we take MessageTemplateParser.ParseTextToken as our allocation base, then before changes we had
R = 9816700/10536766 ~= 0.93

After your recent changes this rate has become:
R = ~0.95
 which confirms that there are some improvements.

There is another source of excessive allocations and it resides in Se

[2020-02-04 15:28] manigandham commented on #30
Sounds good, I'll release an update with these changes then.

[2020-02-05 01:25] manigandham commented on #30
The changes have been released as version 2.4.0, closing this issue now.

https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/2.4.0

[2020-02-05 01:25] #30 closed

[2020-02-14 15:04] draganjovanovic1 commented on #28
Hey, I finally found some time to try it out. Tried both `2.3.0` and `2.4.0` but unfortunately it does not work for me and my F# project. Will try to checkout the latest source from your repo and debug locally as soon as I find some spare time, hopefully next week.

[2020-02-26 21:36] steveoh commented on #22
I'm still running into issues with this...

[code]

this stack trace has the path all fouled up

[2020-02-27 00:10] manigandham commented on #22
I'm not sure how to help here since this is a deployment problem and not related to this library. Here are some ideas you can try:

- Add explicit references to the GRPC nuget libraries.
- Skip the compress step and just copy the files directly to avoid corrupting them.
- Use WebDeploy to push directly to IIS if you're deploying from Windows instead of the grunt setup.

[2020-02-27 01:38] steveoh commented on #22
The issue was with the encoding on the sftp transfer I think

[2020-02-27 01:58] manigandham commented on #22
You might also have problems if the build environment (linux/macos) is different than the running environment (windows).

[2020-03-25 12:35] provegard opened #34 "3.0.0 appears to be broken"
I have to applications that use this library in the exact same way:

1. .NET Core 3.1, Serilog.Sinks.GoogleCloudLogging version 2.4.1
2. .NET Core 3.0, Serilog.Sinks.GoogleCloudLogging version 3.0.0

I can see the logs for application 1 in GCP, but there are no logs whatsoever for application 2.

Downgrading to version 2.4.1 in application 2 fixes the problem.

The options are very simple:

	var o

[2020-03-25 15:41] manigandham commented on #34
The main changes in this library for 3.0.0 were updating the nuget references for `Google.Cloud.Logging.V2` to version 3.0.0 and `Serilog.Sinks.PeriodicBatching` to version 2.3.0

Can you download this repo and run the TestWeb project with your project settings? It's set to `netcore3.1` but you can switch to `netcore3.0` and see if that makes a difference? That's the fastest way to check if this i

[2020-03-27 06:14] provegard commented on #34
Thanks, I will try it out today.

[2020-04-01 00:45] manigandham commented on #34
@provegard Did you get this figured out?

[2020-04-01 04:41] provegard commented on #34
Not yet. I have some time to test it today or tomorrow.

[2020-04-02 12:42] provegard commented on #34
I can confirm that TestWeb works. I only tested locally though, whereas my application ran from inside a GKE cluster, so I need to do some more testing.

[2020-04-02 14:48] provegard commented on #34
Minor:

I forgot to set project ID when testing my real application locally and got this:

[code]

This is the offending line:

      string projectId = this._sinkOptions.ProjectId ?? platform.ProjectId ?? this._resource.Labels["project_id"];

A better exception message would have been nice. :-)

[2020-04-02 15:06] manigandham commented on #34
Sure, will add to the list of todos.

Are you using different service accounts for your apps? Do they both have the correct permissions to write logs?

[2020-04-02 15:06] manigandham opened #35 "Add config validation"

[2020-04-02 15:18] provegard commented on #34
Yes, different service accounts - both have the Logs Writer role. Version 2.4.1 works just fine.

Now I can see logs when running application 2 with 3.0.0 locally. 🎉 Next, I will try to figure out why it didn't work in GKE.

However, I stumbled across another obstacle when enabling StackDriver telemetry logging:

[code]

This doesn't happen with 2.4.1, and installing Google.Api.Gax.Grpc 3.0.0 in t

[2020-04-02 15:53] manigandham commented on #34
There are a lot of issues with the Google cloud sdk releases. You might have to upgrade to the pre-release versions.

[2020-04-02 17:56] provegard commented on #34
You're right, upgrading some Google libs helped. I still need to test in GKE though, will post back here once I've done that.

[2020-04-05 05:40] avifatal opened #36 "Cant write logs to google - permissions issue"
Hi,
I created a service account with stack driver admin permissions. (admin: in order to remove permissions noice)
Downloaded the json file. and created the following config
[code]

the self log indicates:
[code]
What am I missing? whats wrong with my config?

Thanks

[2020-04-05 06:17] avifatal commented on #36
Found it. closing

[2020-04-05 06:17] #36 closed

[2020-05-13 07:37] manigandham commented on #34
Hey @provegard - do you still need help here or did it get resolved?

[2020-05-13 07:38] manigandham commented on #28
Hey @draganjovanovic1 - are you still having trouble with this or did it get resolved?

[2020-05-15 03:27] odytrice opened #37 "Can't find Logs in StackDriver"
Hi, I configured the application like shown below

appsettings.yaml
[code]

appsettings.env.yaml
[code]

I also have GOOGLE_APPLICATION_CREDENTIALS environment variable set to  a google credential json file

Is there a way to tell what is going on? or what I'm getting wrong?

[2020-05-15 03:31] odytrice commented on #37
Duplicate of https://github.com/manigandham/serilog-sinks-googlecloudlogging/issues/34

[2020-05-15 03:36] odytrice commented on #37
Tried downgrading and got this

[code]

[2020-05-15 04:22] manigandham commented on #37
It's better to use the latest libraries since the GCP APIs have changed recently. Did you use the TestWeb project to see if that creates logs?

As far as I can test, the GRPC logging calls are made and the issue seems to be with GCP's API either not accepting or not showing them in the UI. I don't have much to go on since thesolutions I use have always worked so far and nobody has offered a reprod

[2020-05-17 09:19] manigandham commented on #28
Closing for lack of reply.

[2020-05-17 09:19] #28 closed

[2020-05-17 09:19] manigandham commented on #34
Closing due to no reply

[2020-05-17 10:24] provegard commented on #34
Apologies for not replying before. I haven't tested yet. Proper logging in Stackdriver has proven to be challenging, to say the least. When everything is stable, I'll give it a shot.

[2020-05-18 07:18] odytrice commented on #37
I cloned the repository but it hangs whenever I try to restore packages

`dotnet version: 3.1.201`

[2020-05-18 11:42] odytrice commented on #37
I managed to resolve it. Here are the list of things I did

1.  I think the configuration was case sensitive so I had to correct that for example I changed `ProjectId` to `projectId` e.t.c.

2. I needed to add the `LogWriter` permission to the Service Account which I somehow missed to do

3. I had to label the logs correctly

I ended up with something like this
[code]

Thanks for the help

[2020-05-18 11:42] #37 closed

[2020-05-29 13:11] gchampion opened #38 "Service Account GCP VM"
If I remove the creds.json it doesn't seem to default to using the GCP VM Service account attached to the VM. Do I need a flag so that the library will use my machine service account in google cloud? I see in the instructions "no additional steps necessary" however continually get access denied (no matter the access level I grant in IAM)

[2020-05-29 17:51] erdalsivri opened #39 "Allow specifying queue limit in GoogleCloudLoggingSink"
The base class of `GoogleCloudLoggingSink`, `PeriodicBatchingSink`, has an overload to specify `queueLimit` so it should be easy to add this.

However, `PeriodicBatchingSink` has a problem with the way default queue limit is specified so adding `int queueLimit = NoQueueLimit` (`-1`) to `GoogleCloudLoggingSink` constructor won't work. I've created another bug for this under `serilog-sinks-periodicb

[2020-05-30 16:24] erdalsivri commented on #39
https://github.com/serilog/serilog-sinks-periodicbatching/issues/45 is fixed. You can specify `NoQueueLimit` or use the other constructor suggested by the maintainer here: https://github.com/serilog/serilog-sinks-periodicbatching/issues/45#issuecomment-636263960

[2020-05-31 07:49] manigandham commented on #38
What is `creds.json`?

The authentication is handled by the Google-Cloud-Dotnet libraries: https://googleapis.github.io/google-cloud-dotnet/

The process is as described here: https://cloud.google.com/docs/authentication/production#providing_credentials_to_your_application

Is the environment variable pointing to a file?

[2020-05-31 09:45] manigandham commented on #39
The fix hasn't been merged yet but I updated the sink to use the new interface. `queueLimit` has been added as a new `int` parameter.

https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/3.1.0

[2020-05-31 09:45] #39 closed

[2020-06-01 13:02] gchampion commented on #38
creds.json is the JSON authentication file. This all works if we use this file + environment variable. However in GCP the VM itself has a service account you can utilize (and not have a clear text auth file)

[2020-06-01 18:36] manigandham commented on #38
You'll have to debug this in the Google Cloud libraries then. Try printing out that environment variable on the VM to see if might be pointing somewhere else.

[2020-06-05 14:44] gchampion commented on #38
may have just been caching issue in app , seems to be working as expected now.

[2020-06-05 14:44] #38 closed

[2020-06-17 01:08] manigandham commented on #34
I'm closing this now. Feel free to reopen once you have some testing results.

[2020-06-17 01:08] #34 closed

[2020-06-17 05:37] provegard commented on #34
We've recently upgraded to 3.0.0 and it looks good. Must have been a conflict with another Google lib (which we don't use anymore).

[2020-06-17 05:42] manigandham commented on #34
Sounds good, thanks for the update

[2020-12-24 01:25] steveoh commented on #22
I've tried this now with windows and web deploy and I get the same errors.

[2020-12-24 07:24] manigandham commented on #22
Hey, I can't really help with this because it's not related to this library. You'll need to check with the GRPC projects to see what's happening. Since .NET 5.0 has been released, I'd try upgrading to that first. Also this logging library is MIT licensed and only has a few files that you can just copy/paste into your project and reduce a dependency.

[2020-12-29 17:44] steveoh commented on #22
So the root issue is that the grpc dll only had read write permissions and it needs execute permissions.

[2020-12-30 02:32] manigandham commented on #22
awesome, glad you got it figured out! thanks for documenting the fix too

[2021-02-08 17:46] SteGaff7 opened #42 ".Net 5 Compatibility"
Hi, I am getting the following error when running a docker images that uses mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim, it previously worked fine with ASP.Net Core 3.1:

`Unhandled exception. System.DllNotFoundException: Unable to load shared library 'libdl.so' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: liblibdl.

[2021-02-08 18:36] manigandham commented on #42
There's nothing to update, newer .NET versions can already run older libraries. This error isn't related to this package, the first line says it's missing the `libdl.so` library. This is Linux lib probably used by the Google Cloud SDks and their GRPC code. I recommend searching for that error and see if it's missing in the .net alpine image.

[2021-02-08 18:37] manigandham commented on #42
Here's the problem: https://github.com/GoogleCloudPlatform/google-cloud-dotnet-powerpack/issues/22

You can subscribe to that issue, there's also a workaround in the comments

[2021-02-08 18:37] #42 closed

[2021-02-09 09:34] SteGaff7 commented on #42
Thanks very much for your help

[2021-03-15 13:57] StasPerekrestov opened #44 "Trace fields are seems to be incorrect"
Hello,
I've found out that according to

https://cloud.google.com/trace/docs/trace-log-integration

traces should have the following format
`projects/[PROJECT_ID]/traces/[TRACE_ID]`
however, in LogFormatter.cs code

[code]

produces Trace references like `projects/vitupay-oos/traces/TraceId`
SpanIds are also suspicious.

As I understand, it should be
[code]

[2021-03-15 13:59] StasPerekrestov commented on #44
Basically, it results in
![image](https://user-images.githubusercontent.com/838093/111165221-74c48180-85a7-11eb-93ea-196f4cae6e13.png)

[2021-03-15 14:42] #44 closed

[2021-03-15 14:43] manigandham commented on #44
thanks for reporting @StasPerekrestov

fixed now in version 3.3.3: https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/3.3.3

[2021-03-15 14:45] StasPerekrestov commented on #44
Thank you so much!

[2021-03-18 08:12] arakis commented on #44
In my initial PR, i used that piece of code (works / tested):
[code]
It seems, it went broken after merge & refactor:
https://github.com/manigandham/serilog-sinks-googlecloudlogging/commit/613938d031e486dee7abf8b5185f7cce7844e621#diff-b9ef05e354948587d0455408b01f2475f65ce64fee7c14b70d27f855b330ba2cR170

But glad to see, that @manigandham fixed that so fast :-)

Thanks!! :-)

[2021-03-18 08:49] StasPerekrestov commented on #44
I'm not sure if it should be part of this repository,
there is an option to get information logs in **GCP Trace List** using [IManagedTracer](https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNet/api/Google.Cloud.Diagnostics.Common.IManagedTracer.html).

It's something that doesn't work for me because of:
https://github.com/serilog/serilog-aspnetcore/issues/207

Als

[2021-03-18 21:43] manigandham commented on #44
Hey @StasPerekrestov

This repo is just for the sink which sends the logs to GCP. Adding the activity ids is the responsibility of the upstream logging provider. It's only an issue because serilog doesn't (yet) use `LoggerExternalScopeProvider` but you can already add the enricher to handle that: https://github.com/RehanSaeed/Serilog.Enrichers.Span

[2021-03-18 21:56] StasPerekrestov commented on #44
Yeah, sorry, I perhaps confused you. I referenced the issue just to illustrate why some workarounds exist in the code above.

If I use `UseGoogleTrace` extension method from Google SDK to add tracing middleware, it doesn't correlate logs with Google Traces. As a result, I used the above code (it uses IManagedTracer) to propagate Google's TraceId and SpanId into Logs.

it allows seeing information

[2021-03-25 11:05] martea opened #45 "Can i target specific sinks?"
This is more of a question if one is able to target specific sinks to be able to handle retention time for specific logs?

[2021-03-25 11:46] manigandham commented on #45
Yes, see the Serilog docs: https://github.com/serilog/serilog/wiki/Configuration-Basics

You can attach multiple sinks and set minimum log levels for each one. Anything more advanced might need a custom sink.

[2021-03-25 23:56] #45 closed

[2021-05-05 07:10] #35 closed

[2021-07-07 09:51] pardahlman opened #50 "Suggestion: make it possible to omit 'special properties' from jsonPayload.Properties"
I'm looking into using this sink to write data to Google Cloud Logging, and it looks promising - great work 👍

When enabling `UseLogCorrelation` some properties are interpreted as [special properties](https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/src/Serilog.Sinks.GoogleCloudLogging/GoogleCloudLoggingSink.cs#L119) and assigned to corresponding properties on `LogEntry`

[2021-07-07 18:49] manigandham commented on #50
Hey @pardahlman Thanks for the contributions.

For the log correlation, I left these properties in as they can be used to filter your logs directly in the log viewer without using the traces or when you export from GCP logging to other places (like storage buckets or BigQuery).

I would definitely recommend a new option to make this configurable but I don't think it's worth the extra complexity to

[2021-07-08 05:48] pardahlman commented on #50
Thanks for the quick reply 🙏

It is possible to filter logs based on the `trace` or `spanId` by clicking on them in the log viewer and select _Show matching entries_ or by using a query (something like `trace="projects/projectid-123/traces/92d6c8215d3f7641a087d2a949a27bcc"`). I'm not sure I see the benefits of filtering based on custom properties with the same values?

As for exports, I do believe

[2021-07-08 06:23] pardahlman commented on #50
As a side note, wouldn't it be nice if this library in the future would have the capabilities to populate [all `LogEntry` properties](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) based on some convention? For example, if the Serilog `LogEvent` contained a property `HttpRequest` of type `Google.Cloud.Logging.Type.HttpRequest` it would be assigned to the `HttpRequest` propert

[2021-07-09 03:48] manigandham commented on #50
Sure, the functionality sounds good. I still think it should be configurable so users can control how their data is output.

Instead of adding yet another option, it might be best to refactor the `UseLogCorrelation` config into an enum value to switch between `extract` or `copy` custom properties to the LogEntry properties. It would be a breaking change but that would help draw attention to the se

[2021-07-09 07:02] pardahlman commented on #50
I agree, this feature should be configurable 👌 I'm thinking about naming; the concept "special properties" has never been exposed in any API (it is merely a name on a private method today). Is that a fine name, or should we call it something else? One suggestion is `LogEntryProperty`.

Next, should there be an `off` option, meaning no special properties should be extracted? I'm leaning against no,

[2021-07-09 17:03] manigandham commented on #50
`Off` should definitely be an option. That's already an option today and I don't want to force any output on how logging works for users.

Off, copy, move are simple enough choices. I think we can keep it to just a single enum for now and add in a list of properties to manage at a future time. I'll leave the naming to you to start :)

[2021-07-18 19:09] cufeo opened #52 "Bug: Service not starting when using Topshelf"
Hey! Thank you for your awesome library! I have this issue when using Serilog with [Topshelf](http://docs.topshelf-project.com/en/latest/), the console application works as expected but when trying to start it as a service. It gives this error:

### To Reproduce
#### Environment
- .NET 5.0
- Topshelf 4.3.0
- Serilog 2.10.0
- Serilog.Sinks.Console 4.0.0
- Serilog.Sinks.GoogleCloudLogging 3.5.0
- To

[2021-07-18 20:12] cufeo commented on #52
Solved by adding:
[code]

[2021-07-18 20:12] #52 closed

[2021-07-18 21:01] manigandham commented on #52
hey @cufeo

Glad you got it figured out. I"m assuming the issue was with the Google Cloud JSON credentials file? Instead of setting the current directory, you can just set the full path to the JSON as the environment variable (instead of just the name). More info about how the authentication works in the official Google Cloud .NET repo here:
https://github.com/googleapis/google-cloud-dotnet#authen

[2021-07-30 20:58] manigandham commented on #50
Hey @pardahlman  - still interested in this?

[2021-09-06 10:14] CatalinAdlerDF opened #53 "Potential blocking call in EmmitBatchAsync"
Hi,

I think the using on the StreamWriter will invoke the sync Dispose.
did not read the code thoroughly but shouldn't that method be normal async with proper awaits everywhere isntead?

[2021-09-06 10:46] manigandham commented on #53
Hey @CatalinAdlerDF
Are you referring to this? https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/src/Serilog.Sinks.GoogleCloudLogging/GoogleCloudLoggingSink.cs#L66

The `StringWriter` is a used to create the message for each log entry in the `CreateLogEntry` function below. The message strings and `List<LogEntry>` are assembled in memory so there's no need for async writi

[2021-09-10 03:22] aknow90336 opened #54 "forward logged exceptions to Error Reporting"
Hi i alrady set ServiceName and ServiceVersion

[code]
![image](https://user-images.githubusercontent.com/23616301/132793886-627bb00c-993d-4cc2-b432-69f0b87a74a6.png)
But my Error Reporting didn't receive any event
![image](https://user-images.githubusercontent.com/23616301/132794301-08ec0028-5068-4921-9cf2-c3068715787b.png)
please tell me how can i forward it Thanks~~~

[2021-09-10 03:33] manigandham commented on #53
Closing this now, feel free to reopen if you have more questions.

[2021-09-10 03:33] #53 closed

[2021-09-10 03:34] manigandham commented on #54
Can you try setting `UseLogCorrelation` to true? If that doesn’t work then I can debug later

[2021-09-10 03:44] aknow90336 commented on #54
i set `UseLogCorrelation` but nothing change QQ

[2021-09-10 06:13] manigandham commented on #54
How are you logging the error? Is this an `Exception` object that you caught and are logging or is it just an error message directly?

This is an example of the error logging:
https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/master/src/TestWeb/HomeController.cs#L56

[2021-09-10 06:44] aknow90336 commented on #54
I use middleware handle global error

`public class ExceptionMiddleware
    {
        private readonly RequestDelegate _next;

        private readonly ILogger _logger;

        public ExceptionMiddleware(RequestDelegate next, ILoggerFactory loggerFactory)
        {
            _next = next;
            _logger = loggerFactory.CreateLogger<ExceptionMiddleware>();
        }

        public async Ta

[2021-09-10 06:44] CatalinAdlerDF commented on #53
Thanks for the answer!
I saw that TextWriter disposeasync is a no-op in the end so it just doesn't matter.

[2021-09-10 15:10] manigandham commented on #53
Sure. To be clear, `TextWriter` is an abstract base class and is implemented by [`StringWriter`](https://docs.microsoft.com/en-us/dotnet/api/system.io.stringwriter) which writes to an internal `StringBuilder`. The `DisposeAsync` is called when using `await using` instead of the normal `using` and that's not needed here because the strings are built in-memory.

[2021-09-10 20:26] manigandham commented on #54
The issue is your resource type is set to `generic_task` and this is not a supported resource type for error logging. You can find the supported list here: https://cloud.google.com/error-reporting/docs/formatting-error-messages#supported_monitored_resource_types

[2021-09-11 02:28] aknow90336 commented on #54
ops that’s correct.
thank u very much~~~~

[2021-09-11 03:03] manigandham commented on #54
Great, closing this issue now.

[2021-09-11 03:03] #54 closed

[2021-10-13 02:27] aknow90336 opened #55 "anyway to pass custom field at write log?"
**context**
[code]
![image](https://user-images.githubusercontent.com/23616301/137056615-ddf79210-e463-44d3-a86c-6f32f85ae4d7.png)

[2021-10-18 18:28] #55 closed, assigned to manigandham

[2022-02-05 16:41] provegard opened #56 "Losing log messages"
Hi!

Every now and then, we're unable to find log messages in StackDriver. Our containers log to stdout/stderr, so we can see that we have a text log message, but the corresponding structured JSON log entry isn't there.

We turned on Serilogs's `SelfLog` logging, and got this:

[code]

I'm not sure if it's the total of all entries sent to StackDriver that exceeds the max, or if it is a single entr

[2022-02-07 04:55] manigandham commented on #56
Thanks for reporting. That error is for a single line (logged as JSON structure), you can see the quotas here: https://cloud.google.com/logging/quotas

I'll see what I can do to handle it. 2.3 megabytes is very large by the way, just FYI in case you weren't expecting something that big to be logged.

[2022-02-07 08:23] provegard commented on #56
Thanks! Yes, we'll adjust our logging to not exceed that limit.

[2022-02-20 20:21] manigandham commented on #56
Version [3.7.0](https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/3.7.0) has been released with checks for log entry size. The max size is approximate so I've set it to 250KB to be safe with API overhead. Oversized messages will be skipped and logged to Serilog's debug log.

You will still need to enable that debug log and monitor it to see if large messages are still occuring.

Let

[2022-02-20 22:09] provegard commented on #56
Very nice, thank you!

[2022-02-21 08:29] #56 closed

[2022-02-22 13:51] #50 closed

[2022-04-10 20:31] provegard opened #59 "Is there any way to specify @type?"
Hi!

We recently discovered a situation where error logs hadn't been detected by GCP Error Reporting. In the particular case, error messages were logged without an Exception, as there is no Exception associated with the error. Apparently this caused the errors to fly under Error Reporting's radar.

If I understand the [Error Reporting docs](https://cloud.google.com/error-reporting/docs/formatting-

[2022-04-11 00:07] manigandham commented on #59
How were the errors logged? Was it through the MS logging or Serilog directly? Are you using the `LogError(exception, msg)` call? Can you provide a sample of the exact function call?

Cloud Logging looks for exceptions rather than just logs at the Error level and I'm not sure there is an easy way to change the type as part of the sink. The library only gets access to logs as they go through the Se

[2022-04-11 08:21] provegard commented on #59
MS logging:

    _logger.LogError("Failed to ...");

Where `_logger` is `Microsoft.Extensions.Logging.ILogger`.

I'm not sure I follow - the error did show up in StackDriver Logging with severity=ERROR. It was just Error Reporting that didn't pick it up.

I thought about it, but it feels like a hack and requires manually checking all places where exception-less errors are logged. But if there's no

[2022-04-11 09:58] manigandham commented on #59
Yes, what I meant is that GCP Error Reporting is separate from Cloud Logging and only [looks for a formatted exception message or the type field](https://cloud.google.com/error-reporting/docs/formatting-error-messages#log-entry-examples), not the severity level.

However without an `Exception` object attached, there's no way for the sink to know that this individual message should still be conside

[2022-06-12 19:53] unaisvayani opened #60 "4.0.0 appears broken at GoogleCloudLogging"
I have an application on .NET 5 using library **Serilog.Sinks.GoogleCloudLogging Version="4.0.0"** which is the latest version at this moment.

I have my custom logging library where Serilog is implemented to configure multiple sinks. While the logger object is being configured, I get this run time exception in the code below.

Here is the code where the sink is configured
[code]

**Exception appe

[2022-06-13 00:02] manigandham commented on #60
Looks like the GCP team just released new libraries that are based on GAX4 that changes the underlying GRPC implementation.

https://github.com/googleapis/google-cloud-dotnet/releases/tag/Google.Cloud.Logging.V2-4.0.0

This library references `Google.Cloud.Logging.V2` at version `3.6.0` so you can set it to that for now. I'll check on the upgrade issue later.

[2022-06-14 02:30] manigandham commented on #60
Version 5.0.0 has been released that uses the new libraries. Support for `netstandard2.0` has been dropped.

https://www.nuget.org/packages/Serilog.Sinks.GoogleCloudLogging/5.0.0

[2022-06-14 02:30] #60 closed

[2022-06-14 02:38] manigandham commented on #59
After considering, the best option seems to be to just create a new `Exception` if you want specific issues and errors logged by and picked up with GCP Error Logging.

I've added some notes to the readme to highlight. Closing this now but let me know if you need anything else.

[2022-06-14 02:38] #59 closed

[2022-08-18 08:29] adamzak1 opened #62 "GKE no logs"
Hi,
I have an application running in GCP GKE, and there are just no logs shown in google,
tried play with/without project-id etc, same result , I have Log Writer permissions on the cluster,
![image](https://user-images.githubusercontent.com/89729627/185348783-d4f1a96d-5143-4380-9dbb-4be83712d85f.png)

[2022-08-18 08:49] manigandham commented on #62
Try using the Serilog SelfLog output to see if there are any exceptions being thrown:

https://github.com/serilog/serilog/wiki/Debugging-and-Diagnostics

[2022-08-27 09:27] adamzak1 commented on #62
hi,
got
`Exception while emitting periodic batch from Serilog.Sinks.PeriodicBatching.PeriodicBatchingSink: Grpc.Core.RpcException: Status(StatusCode="PermissionDenied", Detail="Permission 'logging.logEntries.create' denied on resource (or it may not exist).") at Google.Api.Gax.Grpc.ApiCallRetryExtensions.<>c__DisplayClass0_0`2.<<WithRetry>b__0>d.MoveNext()`
but I do have Log Writer permissions,
<i

[2022-08-27 22:04] manigandham commented on #62
If that's the error then it might be using the wrong service account. Check the service account being used. You can also manually configure it my adding the JSON credentials file to K8S as a secret, then deploying that inside your YAML spec.

Also if you're running in GCP already, then you can also just log to console and GKE will send those logs to GCP logging anyway - so that might work for you.

[2022-09-23 08:26] MBleyerveld opened #63 "Credentials file in appsettings"
Does anyone know how to set the credentials file in appsettings.json? Whenever we try to do it it fails parsing at the first letter of the filename. Maybe it's looking somewhere other than the project home folder?

e.g. using this appsettings snippet:
`      {
        "Name": "GoogleCloudLogging",
        "Args": {
          "projectID": "optii-keeper",
          "useJsonOutput": "true",

[2022-09-23 08:39] MBleyerveld commented on #63
OK i've found out that we have to specify a JSON string there not a filename. BUT I had to clone your repo and do some source diving to find out. The documentation needs to be clearer. Happy to update the readme and submit a PR.

[2022-09-23 08:53] MBleyerveld commented on #63
Or I could have a go at actually allowing a filename to be specified, that's a bit larger scope though.

[2022-09-24 01:49] MBleyerveld commented on #63
I have a branch and PR to make these changes if you are interested.

[2022-09-24 23:41] #62 closed

[2022-09-24 23:46] manigandham commented on #63
Hey @MBleyerveld

Most people use the Application Default Credentials, and the readme does specify in two places that the `GoogleCredentialJson` is the *contents* of the JSON file.

https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/e2b608bb9ab48201ebe82c8675d8579ec9d0b19f/README.md?plain=1#L62

https://github.com/manigandham/serilog-sinks-googlecloudlogging/blob/e2b608bb9ab48201

[2022-09-26 21:04] MBleyerveld commented on #63
Thanks for the reply @manigandham

The readme at line 84 is definitely ambiguous; it says what the option does but not how to do it. The line at 62 is better but still not absolutely clear. I have a branch & PR with changes but currently I'm unable to push back to github (I have no SSH key set up).

The 1-line thing about allowing a filename in appsettings sounds more like an argument FOR making t

[2022-09-28 08:27] manigandham commented on #63
Cool, happy to take any edits to make the readme clearer.

Also you can copy/paste your PR edits right here into github ( press "." to get to the web-based editor for the whole project).

[2022-10-01 15:12] MBleyerveld commented on #63
I don't have permission to create a branch or PR for this repo. My proposed changes are as follows:
Line 62: `Set the GoogleCredentialJson config option to pass in a JSON string (the contents of your JSON credentials file).`
Line 84: `JSON string to override [Application Default Credentials](https://cloud.google.com/docs/authentication/production#providing_credentials_to_your_application) (content

[2022-10-02 00:04] manigandham commented on #63
You have to fork the repo first, then create a branch with your changes, then submit a PR to merge them in. Here's the guide for Github: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

I'll edit the readme for now, thanks.

[2022-10-02 00:04] #63 closed

[2022-10-10 09:02] ksemele opened #64 "how I can overwrite ProjectID in appsettings?"
Hello!
I want to use different google projects for same service, but I misunderstand how I can make that?
I mean, on dev\stage\prod I uses different values for `projectID`

I thought it can be overwrites as env variable, like that:
`Serilog__WriteTo__0__Args__projectID="project_2"`
but it doesn't work :)

Which way is possible?

[2022-10-10 09:39] ksemele commented on #64
Sounds sad :(
Thanks for explaining!

[2022-10-10 09:39] #64 closed